<!doctype html>
<html>
  <head>
    <title>Travel Destination Tracker</title>
  </head>
  <body>
    <nav>
      <% if is_logged_in? %>

        <a href="/destinations/create"> Create New Destination </a>
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.name %></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <%end %>

    </nav>
    <div class="container">
      <h1>Welcome</h1>
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %> 
    </div>
  </body>
</html>
